@import "tailwindcss";

@utility container {
  margin-inline: auto;
  padding-inline: 2rem;
  width: 100%;
  max-width: 80rem;
}

@theme {
  /* Fonts */
  --font-rubik: "Rubik", sans-serif;
  --font-amiri: "Amiri", serif;
  /* Colors */
  --color-primary: #164837;
  --color-card: #1a1c1b;
  --color-item: #282a29;
  --color-border: #272928;
  --color-muted: #9599a3;
  --color-warning: #e5c071;
  --color-background: #121413;
}

/* Global */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--color-primary) var(--color-border);
}

html,
body {
  overflow: hidden;
  font-family: var(--font-rubik);
  font-optical-sizing: auto;
  font-style: normal;
}

button {
  cursor: pointer;
}

input:focus,
textarea:focus,
button:focus {
  outline: none;
}

/* Tafsir Styles */
.tafsir-text span {
  color: var(--color-warning);
  font-weight: 500;
}

/* Input Range */
input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  cursor: pointer;
}

/* Thumb */
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  margin-top: -6px;
  background-color: var(--color-warning);

  position: relative;
}

input[type="range"]::-moz-range-thumb {
  border: none;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background-color: var(--color-warning);
}

/* Track */
input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background: var(--color-primary);
}

input[type="range"]::-moz-range-track {
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background: var(--color-primary);
}